---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="container max-w-[494px]">
    <div class="w-20 h-20 rounded-full bg-zinc-200 mt-10"></div>
    <div class="mt-6 flex  flex-col sm:flex-row">
			<div class="grow">
				<h1 class="font-bold text-3xl">Fahrezi</h1>
				<h4>Independent software designer</h4>
			</div>
			<button>
				Follow on X
			</button>
		</div>
  </div>
</Layout>
